.user-manager {
  .manager-display {
    @include xy-cell();
    .default-display {
      @include xy-grid();
      height: 2.4rem;
      line-height: 2.4rem;
      >div:first-child {
        @include xy-cell(30%);
      }
      >div {
        @include xy-cell(70%);
      }
    }
    .detail-display {
      @include xy-grid();
      height: 2.4rem;
      line-height: 2.4rem;
      >div:first-child {
        @include xy-cell(30%);
      }
      >div {
        @include xy-cell(70%);
      }
    }
  }
  form {
    .yada-button {
      margin-right: 1rem;
    }
  }
}