#user-bar {
  background-color: $yada-black;
  .login-btn {
    color: $yada-white;
    font-size: 28px;
    min-width: 60px;
    text-align: center;
    padding: 0.5rem;
    &:hover {
      background-color: $yada-white;
      color: $yada-red;
    }
  }
}

#user-name {
  border-bottom: solid 1px white;
}

#user-name, #user-title {
    text-align: right;
}

#conn-btn, #deconn-btn {
  background-color: $yada-black;
  border-color: $yada-white;
  margin: 0px;
  padding: 8px;
  i {
    margin: 5px;
    font-size: 16px;
  }
  &:hover {
    background-color: $yada-white;
    color: $yada-black;
  }
}

#conn-submit-btn {
    border: 1px solid $yada-red;
    background-color: $yada-white;
    color: $yada-red;
}

#conn-submit-btn:hover {
    background-color: $yada-red;
    color: $yada-white;
}
