@import "../node_modules/foundation-sites/dist/css/foundation.min";
@import "../node_modules/foundation-sites/scss/foundation";
@import "color";
@import "mixin";
@import "default";

@import "../src/component/side-bar/style";
@import "../src/component/side-menu/style";
@import "../src/container/admin-section/style";
@import "../src/container/login-section/style";
@import "../src/container/news-section/style";
@import "../src/container/top-bar/style";

@import "../src/view/contact/style";
@import "../src/view/home/style";
@import "../src/view/login/style";
@import "../src/view/services/style";

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  background-color: $yada-white;
  color: $yada-black;
}
