@import "foundation.min.css";
@import "foundation-icons/foundation-icons.css";
@import "color";

@import "../src/component/user-bar/style";
@import "../src/component/menu-bar/style";
@import "../src/container/login/style";

html, body, #root, #root > div, #container, #main-content, #content {
    height: 100%;
}

body {
    background-color: $yada-white;
    color: $yada-red;
}

#home-container {
    overflow-y: auto;
    height: 84%;
}

.post {
    border: solid 1px $yada-red;
    margin: 30px !important;
    padding: 20px;
    img {
        max-height: 200px;
        max-width: 280px;
    }
}

.right-post {
    text-align: right;
}

#sidebar {
    background-color: $yada-red;
    padding: 0px !important;
    max-height: 100%;
    img {
        height: 100%;
        width: 100%;
    }
}

.cred-fail label {
    color: $yada-red;
}

.user-info label {
    color: $yada-white;
    font-size: 11px;
    font-weight: bold;
 }

.small-div {
    height: 36px;
}

.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
    border-color: $yada-red transparent transparent !important;
}

.dropdown.menu > li.is-dropdown-submenu-parent > a:hover::after {
    border-color: $yada-white transparent transparent !important;
}
