$grid-margin-gutters: (
  small: 0px,
  medium: 0px
);

$foundation-palette: (
  primary: $yada-red,
  secondary: $yada-pink,
  success: $yada-success,
  warning: $yada-warning,
  alert: $yada-danger,
);