.post {
  border: solid 1px $yada-red;
  margin: rem-calc(2) !important;
  padding: rem-calc(1);
  img {
      max-height: rem-calc(12);
      max-width: rem-calc(16);
  }
}

.right-post {
  text-align: right;
}