#top-bar {
  .main-menu {
    background-color: $yada-white;
    border-top: solid 0.125rem $yada-red;
    border-bottom: solid 0.125rem $yada-red;
    .item {
      min-width: 6rem;
      &:hover {
        background-color: $yada-red;
        color: $yada-white;
      }
      a {
        font-weight: 800;
        color: $yada-red;
        text-align: center;
        i {
          font-size: 1.75rem;
        }
        &:hover {
          color: $yada-white;
        }
        &:focus {
          color: $yada-pink;
        }
      }
    }
    .sub-item {
      font-size: 0.75rem;
    }
    .submenu a:hover, .active-item > a {
      color: $yada-white;
    }
    .menicon {
      font-size: 2.375rem;
    }
  }

  .user-bar {
    @include xy-grid();
    background-color: $yada-black;
    color: $yada-white;
    font-size: 12px;
    .logo-link {
      @include xy-cell(auto);
    }
    .conn-btn {
      @include xy-cell(3%);
      color: $yada-white;
      font-size: 24px;
      text-align: center;
      cursor: pointer;
      &:hover {
        background-color: $yada-white;
        color: $yada-red;
      }
    }
    #user-name {
      border-bottom: solid 1px white;
    }
    #user-name, #user-title {
      text-align: right;
    }
  }

  .conn-submit-btn {
    border: 1px solid $yada-red;
    background-color: $yada-white;
    color: $yada-red;
    &:hover {
      background-color: $yada-red;
      color: $yada-white;
    }
  }
}
